body{
	font-family:sans-serif;
	background: #343a40;
	transition: background-color 1s ease;
	color: #d0d9d7;

}
.invisible{
	visibility:hidden;
}
.hidden{
	display:none;
}

@media screen and ( min-width: 768px ) {
  html {
    font-size: 19px;
  }
}

.center{
	display: block;
	margin-top: 333px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.navbar{
	padding:0rem 1rem;
	z-index:1061;
	background-color: #000000!important;
}

.DE {
	display: inline-block;
}

.EN {
	display: none;
}